#main-page{

    background-color: #ece9e8;
    text-align: center;
}

#title{
    padding-top: 120px;
    font-family: Century Gothic;
    font-size: 80px;
    color: black;
}

#sub-title{
    padding-bottom:80px;
    font-size: 18px;
    color: #6b6a69;
    font-family: Consolas;
}

.nav-link{
    padding: 30px;
    color: #6e6c6c;
    font-family: Consolas;
    font-size: 20px;
}

.b-title{
  text-align: left;
  font-size: 30px;
  font-family: Consolas;
  font-weight: bold;
  color: #494949;
}

.b-content{
  font-size: 18px;
  font-family: Consolas;
  color: #8c8c8c;
  word-spacing: 3px;
  line-height: 2;
}

.b-more{
  text-align: left;
  font-family: Consolas;
  font-size: 20px;
}

.b-more-image img{
  float: right;
}

.b-card{
  background-color: white;
}

.b-l-1{
  background-color: #f0eded;
}
.b-l-1:hover{
  background-color: #fbfbfa;
}

.b-l-2{
  background-color: #f7f6f6;
}
.b-l-2:hover{
  background-color: #f4f2f1;
}

.b-r-1{
  background-color: #f4f2f1;
}
.b-r-1:hover{
  background-color: #f7f6f6;
}

.b-r-2{
  background-color: #fbfbfa;
}
.b-r-2:hover{
  background-color: #f0eded;
}

.rot{
  transform: rotate(10deg);
  transform-origin: right;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition:         transform .2s ease-in-out;
}
.rot:hover{
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
